* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(243, 243, 243);
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    height: 120px;
}

.menu button,
.note-panel .save,
.note-panel .cancel {
    padding: 12px 25px;
    border-radius: 5px;
    background: none;
    border: 1px solid #999;
    font-size: 14px;
    cursor: pointer;
    transition: background-color .3s, color .3s;
}

.menu button:hover,
.note-panel .save:hover,
.note-panel .cancel:hover {
    background-color:#333;
    color: #ddd
}

.add {
    margin-right: 20px;
}

.note-area {
    display: flex;
    /* gdybysmy nie zrobili ai: start to byłaby domyslna wartosc ai: stretch to znaczy ze wysokosci kazdej notatki (żółtego pola) byłyby tak wysokie jak najdluzsza notatka */
    align-items: start;
    flex-wrap: wrap;
    padding: 20px;
    /* height: 300px; te rzeczy chcialem dac ale Mjek w ogole ich nie chce
    min-width: 100vh;;
    margin: 10px 20px 10px 20px; */
}
   
.note {
    margin: 40px 20px;
    width: 240px;
    background-color: rgb(255, 243, 0);
    border: 1px solid black;
    box-shadow: 5px 5px 15px;
}

.note-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, .06);
}

.note-body {
    padding: 20px 15px;
    font-size: 14px;
}

.delete-note {
    /* tak usuwamy defaultowy background buttona - czyli background zamiast background-color */
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.save {
    margin-right: 20px;
    margin-left: 10px;
}

.note-panel {
    /* UWAGA jesli zrobie display:none i jednoczesnie display:flex no to diplay:none juz bedzie nadpisany przez display:flex i popup bedzie widoczny   */
    display: none;
    /* tego tu ma nie byc - ale nie wiem czy sie nie wysypie uklad - nie wysypie sie bo my w js nadamy ttutaj po prostu display flex (korzystajac z if(display !== flex) display = flex */
    /* display: flex;  */
    justify-content: center;
    align-items:center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    background-color: white;
    border: 1px solid black;
    width: 600px;
    box-shadow: 0 0 10px black;
    border-radius: 5px;
}

.note-panel h2 {
    margin-bottom: 20px;
    text-transform: uppercase;
}

.note-panel label {
    margin-bottom: 10px;
}

.note-panel #text,
.note-panel #category {
    margin-bottom: 20px;
    padding: 10px 20px;
    width: 100%;
    max-width: 100%;
    max-height: 500px;
    min-width: 60%;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

.note-panel #text {
    min-height: 50px;
}

.note-panel .error {
    margin-bottom: 20px;
    color: red;
    visibility: hidden;
}